.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
      font-size: 3.5rem;
  }
}

div {
  margin: 5px;
  align-items: center;
}

.horizontal { 
  padding-right: 10px;
}

.horizontal button {
  margin: 0 65px 0px 65px;
}